

.box1 {
    display: flex;
    
}

.box2 {
    text-align: center;

}

.box2 h1 {
    margin-block: 90px 20px;
   
}

.box2 p {
    margin: 40px 15px 20px 20px;

}

.box1 img {
    
    height: 500px;
    width: 50%;
    margin: 20px 10px;
    border-radius: 5px;
}

.box1 p {
    margin-top: 60px;
    font-size: 14px;
    
}

.participacao {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.participacao img {
    height: 280px;
    width: 350px;
    margin: 20px 10px;
    border-radius: 7px;
}

.participacao p {
    width: 50%;
}

.participacao2 {
    display: flex;
    align-items: center;
    margin-top: 50px;
    
    gap: 20px;  
}

.participacao2 img {
    height: 280px;
    width: 350px;
    margin: 10px 20px 0px 0px;
    border-radius: 7px;
}

.participacao2 p {
    margin-left: 300px;
}

